<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>D72UK7R5RE</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>me.meeshy.app</key>
		<string>match AppStore me.meeshy.app</string>
		<key>me.meeshy.app.notification-service</key>
		<string>match AppStore me.meeshy.app.notification-service</string>
		<key>me.meeshy.app.widgets</key>
		<string>match AppStore me.meeshy.app.widgets</string>
	</dict>
	<key>uploadSymbols</key>
	<true/>
	<key>uploadBitcode</key>
	<false/>
	<key>stripSwiftSymbols</key>
	<true/>
</dict>
</plist>
